@use "../../assets/scss/fonts" as *;
.banner{
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.banner-track{
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 0.9s ease-in-out;
}

.banner-slide{
    width: 100%;
    flex-shrink: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.banner-overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    z-index: 2;
    color: #fff;
    h1{
        @include title-h1 ;
        margin-bottom: 16px;
    }
    p{
        @include font-body;
        font-size: 14px;
        opacity: 0.9;
        margin-bottom: 24px;
    }
    button{
        padding: 12px 32px;
        background: #fff;
    }
}