@use "../../assets/scss/mixins" as *;

// PC버전
#banner2 {
  position: relative;
  padding-bottom: 5rem;
  .images {
    @include flex-layout($gap: 0);
    width: 100%;
    position: relative;
    img {
      cursor: pointer;
      width: 100%;
      height: 60rem;
      aspect-ratio: 1/1;
    }
    .box1 {
      position: relative;
      h2 {
        font-size: 3rem;
        color: var(--Static-white);
        position: absolute;
        left: 50px;
        bottom: 80px;
      }
    }
    .box2 {
      position: relative;
      h2 {
        font-size: 3rem;
        color: var(--Static-white);
        position: absolute;
        left: 50px;
        bottom: 80px;
      }
    }
  }
  .btn {
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    @include flex-layout(row, space-between);
    .prev,
    .next {
      width: 48px;
      height: 48px;
      font-size: 24px;
      background: rgba(0, 0, 0, 0.2);
      color: var(--Static-white);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .indi-bottom {
    width: 100%;
    padding-top: 3rem;
    @include flex-layout(row, center, center, 0);
    .indicator {
      @include flex-layout(row, flex-start, center, 0);
      width: calc(100% - 150px);
      gap: 8px;
      span {
        cursor: pointer;
        flex: 1;
        height: 4px;
        background-color: #e1e1e1;
        border-radius: 2px;
        transition: 0.3s;
        cursor: pointer;
        transition: background-color 0.3s;
        &.active {
          background-color: var(--Primary-300);
          height: 4px;
        }
        &:hover {
          background-color: #0073e5;
        }
      }
      .indi-txt {
        width: 150px;
        display: flex;
        align-items: center;
        > p {
          font-size: 1.125rem;
          color: var(--Primary-300);
          display: flex;
          align-items: center;
          gap: 4px;
          cursor: pointer;
          white-space: nowrap;
        }
      }
    }
  }
}

// 모바일 버전
@include mobile {
  #banner2 {
    .images {
      @include flex-layout(column, $gap: 0);
      flex-wrap: wrap;
      .box1 {
        img {
          width: 23rem;
          height: 23rem;
        }
        h2 {
          font-size: 1.25rem;
        }
      }
      .box2 {
        img {
          width: 23rem;
          height: 23rem;
        }
        h2 {
          font-size: 1.25rem;
        }
      }
    }
    .btn {
      display: none;
    }
    .indi-bottom {
      display: none;
    }
  }
}
