@use "../../assets/scss/fonts" as *;
.banner{
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.banner-track{
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 0.9s ease-in-out;
}

.banner-slide{
    width: 100%;
    flex-shrink: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.banner-overlay{
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.65) 0%,
        rgba(0,0,0,0.35) 40%,
        rgba(0,0,0,0.15) 70%,
        rgba(0,0,0,0) 100%
    );
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    z-index: 2;
    color: #fff;
    h1{
        @include title-h1 ;
        margin-bottom: 16px;
    }
    p{
        @include font-body;
        font-size: 14px;
        opacity: 0.9;
        margin-bottom: 24px;
    }
    .banner-link{
        @include font-body;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-bottom: 2px;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }
        &:hover::after{
            transform: scaleX(1);
        }
    }
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    &.left{
        left: 24px;
    }
    &.right{
        right: 24px;
    }
    &:hover{
        background: rgba(255, 255, 255, 0.4);
    }
}
.banner-progress{
    position: absolute;
    left: 80px;
    bottom: 32px;
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
    span{
        display: block;
        width: 40%;
        height: 100%;
        background: #fff;
    }
}