@use "../../assets/scss/mixins" as *;

#banner2 {
  position: relative;

  .images {
    @include flex-layout($gap: 0);
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 60rem;
      aspect-ratio: 1/1;
    }
    .box1 {
      position: relative;
      h2 {
        position: absolute;
        left: 50px;
        bottom: 80px;
      }
    }
    .box2 {
      position: relative;

      h2 {
        position: absolute;
        left: 50px;
        bottom: 80px;
      }
    }
  }
  .btn {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    @include flex-layout(row, space-between);
    .prev {
      font-size: 24px;
      color: var(--Static-white);
      @include flex-layout;
      width: 48px;
      height: 48px;
      background: rgba(0, 0, 0, 0.2);
    }
    .next {
      font-size: 24px;
      color: var(--Static-white);
      @include flex-layout;
      width: 48px;
      height: 48px;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
