@use "../../assets/scss/mixins" as *;

//pc버전

#keyword {
  width: 100%;
  padding-bottom: 5rem;
  > h2 {
    text-align: center;
    padding: 0 3rem;
    padding-bottom: 14px;
  }
  .slider-wrapper {
    position: relative;
    overflow: hidden;
    ul.slider {
      display: flex;
      gap: 0.5rem;
      li {
        cursor: pointer;
        flex: 0 0 calc((100% - 3 * 0.5rem) / 4);
        position: relative;
        aspect-ratio: 1 / 2;
        img {
          filter: brightness(0.7);
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          aspect-ratio: 1/2;
        }
        > h2 {
          font-size: clamp(1.25rem, 2vw, 2rem);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--Static-white);
        }
      }
    }
    .btn {
      cursor: pointer;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      @include flex-layout(row, space-between);
      transform: translateY(-50%);
      .prev,
      .next {
        width: 48px;
        height: 48px;
        font-size: 24px;
        background: rgba(0, 0, 0, 0.2);
        color: var(--Static-white);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

// 모바일 버전
@include mobile {
  #keyword {
    h2 {
      text-align: center;
      font-size: 1.25rem;
    }
    .slider-wrapper {
      .slider {
        li {
          flex: 0 0 30%;
          position: relative;
          min-width: 50%;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
          }
        }
      }
      .btn {
        .prev,
        .next {
          transition: 0.3s;
          &:hover {
            background: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }
}
