@use "../../assets/scss/mixins" as *;

//pc버전

#keyword {
  width: 100%;
  padding-bottom: 5rem;
  h2 {
    padding: 0 3rem;
    padding-bottom: 14px;
  }
  .slider-wrapper {
    position: relative;
    overflow: hidden;
    ul.slider {
      display: flex;
      gap: 0.5rem;
      transition: transform 0.5s ease-in-out;
      li {
        cursor: pointer;
        flex: 0 0 calc((100% - 3 * 0.5rem) / 4);
        position: relative;
        height: 48rem;
        img {
          filter: brightness(0.7);
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          aspect-ratio: 1/1;
        }
        > h2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--Static-white);
        }
      }
    }
    .btn {
      cursor: pointer;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      @include flex-layout(row, space-between);
      transform: translateY(-50%);
      .prev,
      .next {
        width: 48px;
        height: 48px;
        font-size: 24px;
        background: rgba(0, 0, 0, 0.2);
        color: var(--Static-white);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

// 모바일 버전
@include mobile {
  #keyword {
    h2 {
      font-size: 1.25rem;
      text-align: center;
      white-space: nowrap;
      margin-bottom: 1rem;
    }
    ul {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        display: none;
      }
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      padding-left: 10vw;
      // overflow: hidden;
      position: relative;
      li {
        flex: 0 0 80vw;
        height: 60vh;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        > h2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .btn {
        display: none;
      }
    }
  }
}
