@use "../../assets/scss/mixins" as *;

// PC 버전
#runningnews {
  padding: 5rem 3rem;
  h2 {
    font-size: 2rem;
  }
  ul {
    @include flex-layout($gap: 0);
    width: 100%;
    li {
      cursor: pointer;
      border: 1px solid #0073e5;
      border-right: none;
      &:nth-last-child(1) {
        border-right: 1px solid #0073e5;
      }
      width: 25%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
      .news-title {
        padding: 1.25rem;
        > p {
          font-size: 1.25rem;
          height: 4rem;
        }
        .news-txt {
          @include flex-layout(row, flex-start, center, 0);
          p {
            font-size: 0.875rem;
            font-weight: bolder;
            color: var(--Primary-300);
          }
        }
      }
    }
  }
}

@include mobile {
  #runningnews {
    @include flex-layout(column);
    width: 100%;
    padding: 5rem 0;
    h2 {
      font-size: 1.25rem;
      padding-bottom: 12px;
    }
    ul {
      width: 100%;
      @include flex-layout(row, flex-start, center, $gap: 0);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        flex: 0 0 82vw;
        img {
        }
        .news-title {
          > p {
            font-size: 0.875rem;
            letter-spacing: -0.4px;
            height: auto;
          }
          .news-txt {
            p {
              font-size: 0.875rem;
              height: auto;
            }
          }
        }
      }
    }
  }
}
