@use "../../assets/scss/mixins" as *;

#best-seller,
#paceypick {
  h2 {
  }
  ul {
    @include flex-layout(row, flex-start);
    overflow: hidden;
    width: 100%;
    li {
      position: relative;
      width: 30rem;
      height: 30rem;
      background-color: rgba(245, 245, 245, 1);
      img {
        width: 20rem;
        height: 20rem;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover;
      }
      h2 {
        top: 275px;
        left: 20px;
        position: absolute;
        font-size: 2.75rem;
        font-style: italic;
        color: var(--Primary-300);
      }
      .best-txt {
        @include flex-layout(column, flex-start, flex-start, 0.75rem);
        background-color: var(--Static-white);
        padding: 1.25rem;
        border-radius: 1px solid #0073e5;

        P:nth-of-type(1) {
          font-size: 0.875rem;
          font-weight: bolder;
        }
        P:nth-of-type(2) {
          font-weight: 400;
        }
        p:nth-of-type(3) {
          font-weight: 400;
        }
      }
      .price {
      }
    }
  }
}
