@use "../../assets/scss/mixins" as *;

//PC 버전
#hello {
  padding-bottom: 5rem;
  .hello-box {
    width: 100%;
    background-color: var(--Primary-300);
    @include flex-layout(column);
    .txt {
      color: var(--Static-white);
      padding: 2rem;
      // gap: 0.75rem;
      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 0.75rem;
      }
      p {
        @include flex-layout($gap: 0.25rem);
        font-weight: 400;
        span {
          @include flex-layout();
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}

// 모바일 버전
@include mobile {
  #hello{
    .hello-box{
      .txt{
        h2{
          font-size: 1.125rem;
        }
        p{
          font-size: 0.75rem;
        }
      }
    }
  }
}