@use "../../assets/scss/mixins" as *;

#hello {
  width: 100%;
  background-color: var(--Primary-300);
  @include flex-layout(column);

  .txt {
    color: var(--Static-white);
    padding: 2rem;
    // gap: 0.75rem;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
        padding-bottom: 0.75rem;
    }
    p {
      font-weight: 400;
    }
  }
}
