@use '../../assets/scss/fonts' as *;

.gnb ul{
    display: flex;
    gap: 32px;
    li{
        @include body-XL;
        color: var(--Primary-300);
        cursor: pointer;
        &:hover{
            color: var(--Primary-400);
            font-weight: bold;
        }
    }
}